// Mixins
@mixin viewbox($size) {
	height: $size;
	width: $size;
}

@mixin auto-margin {
	margin-left: auto;
	margin-right: auto;
}

@mixin container {
	@include auto-margin;
	max-width: 650px;
	width: 100%;
}

@mixin absolute-center {
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%,-50%);
}

@mixin vertically-center {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

@mixin full-viewport {
	height: $full-viewport;
	min-height: $full-viewport;
}

@mixin pseudo-helper {
	content: '';
	position: absolute;
}

@mixin flexbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

@mixin flex-flow($values: (row nowrap)) {
  // No Webkit Box fallback.
  -webkit-flex-flow: $values;
  -moz-flex-flow: $values;
  -ms-flex-flow: $values;
  flex-flow: $values;
}

@mixin flex-direction($value: row) {
  @if $value == row-reverse {
    -webkit-box-direction: reverse;
    -webkit-box-orient: horizontal;
  } @else if $value == column {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
  } @else if $value == column-reverse {
    -webkit-box-direction: reverse;
    -webkit-box-orient: vertical;
  } @else {
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
  }
  -webkit-flex-direction: $value;
  -moz-flex-direction: $value;
  -ms-flex-direction: $value;
  flex-direction: $value;
}
// Shorter version:
@mixin flex-dir($value: false) { @include flex-direction($value); }

@mixin flex-img {
	display: block;
	height: auto;
	width: 100%;
}

.flex-img {
	@include flex-img;
}



@mixin vertical-rhythm($spacing-token) {
    > * + * {
        margin-top: $spacing-token;
    }
}

@mixin horizontal-rhythm($spacing-token) {
    > * + * {
        margin-left: $spacing-token;
    }
}
