// Base - Helpers
.h-text-align-center {text-align: center;}
.h-text-align-left   {text-align: left;}
.h-max-flex-el       {max-width: 100%;}
.h-flex-el           {width: 100%;}
.h-inline-block      {display: inline-block;}
