/*****************************************************************************

    Icon Font - Styles to support the use of icons as a font

*****************************************************************************/
@font-face {
    font-family: 'ZooskIcons';
    src:    font-url('zoosk-icon.eot'); /* IE9 Compat Modes */
    src:    font-url('zoosk-icon.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    font-url('zoosk-icon.woff') format('woff'), /* Modern Browsers */
    font-url('zoosk-icon.ttf')  format('truetype'); /* Safari, Android, iOS */
}

.icon-font {
    font-family: 'ZooskIcons';
}

.lonely-icon {
    display: inline-block;
}

.screen-reader-text {
    height: 0;
    left: -9999px;
    overflow: hidden;
    position: absolute;
    top: -9999px;
    width: 0;
}

.icon-read-receipts:before {
    content: "\e91c";
}
.icon-invisible-mode:before {
    content: "\e920";
}
.icon-premium-msg:before {
    content: "\e921";
}
.icon-play:before {
    content: "\e91e";
}
.icon-upgrades:before {
    content: "\e91d";
}
.icon-up-carrot:before {
    content: "\e91b";
}
.icon-facebook-f:before {
    content: "\e90d";
}
.icon-fb-circle-filled:before {
    content: "\e90e";
}
.icon-fb-circle:before {
    content: "\e90f";
}
.icon-google-circle-filled:before {
    content: "\e910";
}
.icon-google-circle:before {
    content: "\e911";
}
.icon-google-g:before {
    content: "\e912";
}
.icon-instagram-circle-filled:before {
    content: "\e913";
}
.icon-instagram-circle:before {
    content: "\e914";
}
.icon-rss-circle-filled:before {
    content: "\e915";
}
.icon-rss-circle:before {
    content: "\e916";
}
.icon-twitter-circle-filled:before {
    content: "\e917";
}
.icon-twitter-circle:before {
    content: "\e918";
}
.icon-youtube-circle-filled:before {
    content: "\e919";
}
.icon-youtube-circle:before {
    content: "\e91a";
}
.icon-premium-message:before {
    content: "\e90c";
}
.icon-smiley-face:before {
    content: "\e905";
}
.icon-defined-heart:before {
    content: "\e90b";
}
.icon-chats:before {
    content: "\e90a";
}
.icon-smiley-face-filled:before {
    content: "\e908";
}
.icon-wink-filled-2:before {
    content: "\e909";
}
.icon-wink:before {
    content: "\e907";
}
.icon-defined-heart-stroke:before {
    content: "\e906";
}
.icon-views-eyeball-filled:before {
    content: "\e901";
}
.icon-views-eyeball:before {
    content: "\e904";
}
.icon-triple-hearts:before {
    content: "\e900";
}
.icon-female-avatar:before {
    content: "\e902";
}
.icon-male-avatar:before {
    content: "\e903";
}
.icon-thin-search-filled:before {
    content: "\e69c";
}
.icon-interested-filled:before {
    content: "\e69d";
}
.icon-messages-filled:before {
    content: "\e69e";
}
.icon-mutual-filled:before {
    content: "\e69f";
}
.icon-mutual2:before {
    content: "\e6a0";
}
.icon-new-messages2:before {
    content: "\e6a1";
}
.icon-profile-filled:before {
    content: "\e6a2";
}
.icon-thick-stroke-gear:before {
    content: "\e69b";
}
.icon-thick-stroke-filter:before {
    content: "\e69a";
}
.icon-eyeball:before {
    content: "\e699";
}
.icon-thin-search:before {
    content: "\e698";
}
.icon-report-arrow:before {
    content: "\e697";
}
.icon-settings-wire:before {
    content: "\e696";
}
.icon-maybe:before {
    content: "\e695";
}
.icon-right-arrow:before {
    content: "\e692";
}
.icon-up-arrow:before {
    content: "\e693";
}
.icon-left-arrow:before {
    content: "\e694";
}
.icon-premium-messaging:before {
    content: "\e68b";
}
.icon-new-messages:before {
    content: "\e68c";
}
.icon-settings-back:before {
    content: "\e68d";
}
.icon-filter-wire:before {
    content: "\e68e";
}
.icon-mutual:before {
    content: "\e68f";
}
.icon-interested:before {
    content: "\e690";
}
.icon-profile:before {
    content: "\e691";
}
.icon-z_subscribe:before {
    content: "\e68a";
}
.icon-locked:before {
    content: "\e689";
}
.icon-cart:before {
    content: "\e688";
}
.icon-introductions-avatar:before {
    content: "\e687";
}
.icon-filled-question-mark:before {
    content: "\e685";
}
.icon-wire-question-mark:before {
    content: "\e686";
}
.icon-new-search:before {
    content: "\e680";
}
.icon-mutual-web:before {
    content: "\e681";
}
.icon-interested-web:before {
    content: "\e682";
}
.icon-invisible:before {
    content: "\e683";
}
.icon-filter-filled:before {
    content: "\e684";
}
.icon-likes-heart-solid:before {
    content: "\e67f";
}
.icon-fb-likes:before {
    content: "\e67e";
}
.icon-negative-action:before {
    content: "\e67d";
}
.icon-chat-messages:before {
    content: "\e67b";
}
.icon-camera-greetings:before {
    content: "\e67c";
}
.icon-document:before {
    content: "\e676";
}
.icon-down-carrot:before {
    content: "\e677";
}
.icon-envelope-circle:before {
    content: "\e678";
}
.icon-iOS-check-empty:before {
    content: "\e679";
}
.icon-iOS-check-filled:before {
    content: "\e67a";
}
.icon-likes-heart:before {
    content: "\e675";
}
.icon-arrow-no-circle:before {
    content: "\e674";
}
.icon-question-circle-filled:before {
    content: "\e673";
}
.icon-smartpick-accept:before {
    content: "\e671";
}
.icon-smartpick-decline:before {
    content: "\e672";
}
.icon-SmartPick-Sm:before {
    content: "\e670";
}
.icon-NoMatch:before {
    content: "\e66d";
}
.icon-SmartPick:before {
    content: "\e66e";
}
.icon-hourglass:before {
    content: "\e66f";
}
.icon-rotate:before {
    content: "\e66c";
}
.icon-clock:before {
    content: "\e66a";
}
.icon-interests-people:before {
    content: "\e66b";
}
.icon-remove-x:before {
    content: "\e669";
}
.icon-remove:before {
    content: "\e668";
}
.icon-success-check:before {
    content: "\e667";
}
.icon-messages-old:before {
    content: "\e666";
}
.icon-FB:before {
    content: "\e662";
}
.icon-google:before {
    content: "\e663";
}
.icon-phone:before {
    content: "\e664";
}
.icon-Twitter:before {
    content: "\e665";
}
.icon-drinking:before {
    content: "\e661";
}
.icon-success:before {
    content: "\e660";
}
.icon-body-type:before {
    content: "\e65d";
}
.icon-smoking-circle:before {
    content: "\e65e";
}
.icon-briefcase:before {
    content: "\e65f";
}
.icon-messages3:before {
    content: "\e65b";
}
.icon-profilemale:before {
    content: "\e65c";
}
.icon-profilefemale:before {
    content: "\e65a";
}
.icon-capricorn:before {
    content: "\e659";
}
.icon-virgo:before {
    content: "\e655";
}
.icon-scorpio:before {
    content: "\e656";
}
.icon-aries:before {
    content: "\e657";
}
.icon-leo:before {
    content: "\e658";
}
.icon-taurus:before {
    content: "\e654";
}
.icon-gear:before {
    content: "\e653";
}
.icon-libra:before {
    content: "\e64d";
}
.icon-gemini:before {
    content: "\e64e";
}
.icon-cancer:before {
    content: "\e64f";
}
.icon-pisces:before {
    content: "\e650";
}
.icon-aquarius:before {
    content: "\e651";
}
.icon-sagittarius:before {
    content: "\e652";
}
.icon-your-dating-style:before {
    content: "\e64b";
}
.icon-who-likes-you:before {
    content: "\e64a";
}
.icon-who-you-like:before {
    content: "\e649";
}
.icon-jewish:before {
    content: "\e647";
}
.icon-christian:before {
    content: "\e646";
}
.icon-spiritual:before {
    content: "\e64c";
}
.icon-games:before {
    content: "\e645";
}
.icon-television:before {
    content: "\e644";
}
.icon-sports:before {
    content: "\e643";
}
.icon-movies:before {
    content: "\e642";
}
.icon-books:before {
    content: "\e641";
}
.icon-music:before {
    content: "\e63e";
}
.icon-well-educated:before {
    content: "\e640";
}
.icon-good-shape:before {
    content: "\e648";
}
.icon-tall:before {
    content: "\e63f";
}
.icon-camera:before {
    content: "\e629";
}
.icon-arrow:before {
    content: "\e63d";
}
.icon-globe-filled:before {
    content: "\e63b";
}
.icon-globe:before {
    content: "\e63c";
}
.icon-question-circle:before {
    content: "\e63a";
}
.icon-error:before {
    content: "\e639";
}
.icon-promote-heart:before {
    content: "\e638";
}
.icon-coin-stack:before {
    content: "\e637";
}
.icon-close:before {
    content: "\e636";
}
.icon-requestphotos:before {
    content: "\e633";
}
.icon-requestverify:before {
    content: "\e634";
}
.icon-verified:before {
    content: "\e635";
}
.icon-myprofile:before {
    content: "\e630";
}
.icon-chatanytime:before {
    content: "\e631";
}
.icon-chatanytimeempty:before {
    content: "\e632";
}
.icon-question:before {
    content: "\e62d";
}
.icon-phone2:before {
    content: "\e62e";
}
.icon-block:before {
    content: "\e62f";
}
.icon-heart:before {
    content: "\e62c";
}
.icon-alertsbubble:before {
    content: "\e62b";
}
.icon-alertfilledbox:before {
    content: "\e62a";
}
.icon-replied:before {
    content: "\e627";
}
.icon-conversations:before {
    content: "\e628";
}
.icon-priority:before {
    content: "\e626";
}
.icon-onlinenow:before {
    content: "\e625";
}
.icon-messages:before {
    content: "\e624";
}
.icon-searchglare:before {
    content: "\e623";
}
.icon-connections:before {
    content: "\e622";
}
.icon-views:before {
    content: "\e621";
}
.icon-zsms:before {
    content: "\e620";
}
.icon-subscribe:before {
    content: "\e61f";
}
.icon-help:before {
    content: "\e61e";
}
.icon-earncoins:before {
    content: "\e61d";
}
.icon-boost:before {
    content: "\e61c";
}
.icon-carousel:before {
    content: "\e61b";
}
.icon-alertfilled:before {
    content: "\e61a";
}
.icon-search:before {
    content: "\e60b";
}
.icon-alertempty:before {
    content: "\e60c";
}
.icon-promotefilled:before {
    content: "\e60d";
}
.icon-promoteempty:before {
    content: "\e60e";
}
.icon-coinsfilled:before {
    content: "\e60f";
}
.icon-coinsempty:before {
    content: "\e610";
}
.icon-navfilled:before {
    content: "\e611";
}
.icon-navempty:before {
    content: "\e612";
}
.icon-notificationsfilled:before {
    content: "\e613";
}
.icon-notificationsempty:before {
    content: "\e614";
}
.icon-winkfilled:before {
    content: "\e615";
}
.icon-addfilled:before {
    content: "\e616";
}
.icon-giftfilled:before {
    content: "\e617";
}
.icon-giftempty:before {
    content: "\e618";
}
.icon-pencil:before {
    content: "\e619";
}
.icon-trash:before {
    content: "\e60a";
}
.icon-inbox:before {
    content: "\e609";
}
.icon-sent:before {
    content: "\e608";
}
.icon-match:before {
    content: "\e607";
}
.icon-sliders:before {
    content: "\e606";
}
.icon-settings:before {
    content: "\e605";
}
.icon-key:before {
    content: "\e604";
}
.icon-winkempty:before {
    content: "\e603";
}
.icon-addempty:before {
    content: "\e602";
}
.icon-inboxempty:before {
    content: "\e601";
}
.icon-sentopen:before {
    content: "\e600";
}
