// Article Title
.article-title-wrap {
	color: $slate;
	margin-bottom: 4rem;
	margin-top: 4rem;
	text-align: center;
	text-transform: uppercase;
}

.article-title {
	font-size: 4.4rem;
	margin-bottom: 2rem;
}

.article-sub-title {
	color: $lt-red;
	font-size: 1.6rem;
	font-weight: 500;
}