// Dashboard Nav
.dashboard-nav__item {
    margin-bottom: $spacing-med;
}

.dashboard-nav__link {
    border-radius: $sutble-round;
    color: $storm;
    display: block;
    padding: $spacing-sml;

    &:hover {
        background: $cloud;
    }

    &.accent-selected {
        background: lighten($lt-red, 10%);
    }
}
