// Item Container - Holds Icons, Colors, and other style guide elements
.style-guide-list {
    justify-content: space-between;
}

.style-guide-item {
    min-width: 160px;
}

.item-container {
    border-radius: 4px;
}

.item-media {
    background: $cloud;
    border: 1px solid $lt-blue;
    border-radius: 4px 4px 0 0;
    min-height: 160px;
    position: relative;
}

.media-icon {
    @include absolute-center;
}

.item-desc {
    background: $lt-blue;
    border-radius: 0 0 4px 4px;
    padding: $spacing-sml;
    text-align: center;
}

.item-title {
    color: $thunder;
    display: block;
    font-size: $text-l;
}
