// Pattern Card
.wiki-comp {
	background: url("../img/pattern-card.png") no-repeat;
	background-size: cover;
	display: inline-block;
	height: 355px;
	width: 220px;
}

.wireframe {
	background: url("../img/pattern-card-wireframe.png") no-repeat;
	background-size: cover;
	display: inline-block;
	height: 355px;
	width: 220px;
}
