// Box Shadows
$box-shadow-input:         inset 0 1px 1px rgba(0,0,0,0.2);
$box-shadow-input-focus:   0 0 5px 1px rgba(76,159,235,0.5);
$box-shadow-input-error:   0 0 5px rgba(255,4,0,0.3);
$box-shadow-button-active: inset 0 0 8px rgba($color-black, .75);
$box-shadow-medium:        0 .5rem 2rem rgba(0, 0, 0, 0.15);
