// Config - Colors
$color-black:        #222222;
$color-white:        #FFFFFF;
// Primary
$color-z-blue:       #1379D3;
$color-z-green:      #27BC00;
$color-z-red:        #E30000;
$color-z-yellow:     #FFC500;
$color-z-orange:     #FF9E00;
$color-z-grey:       #FAFAFA;
// Secondary
$color-light-blue:   #53C1EA;
$color-light-yellow: #FFF900;
$color-teal:         #ACFEE4;
$color-purple:       #8F6594;
$color-grey:         #D6D6D6;
// Grayscale
$color-light-grey:   #999999;
$color-medium-grey:  #666666;
$color-dark-grey:    #333333;
