// Color Palette Sample

// Global Variables
$white: hsla(0, 0%, 100%, 1);

// Primary Variables
$blue: hsla(210, 84%, 47%, 1); // brand color
$green: hsla(85, 86%, 53%, 1);
$orange: hsla(37, 100%, 50%, 1);
$red: hsla(7, 63%, 57%, 1);
$yellow: hsla(46, 100%, 50%, 1); // coins


// Extended Variables
$light-blue: hsla(206, 95%, 67%, 1);
$light-yellow: hsla(58, 100%, 50%, 1);
$teal: hsla(161, 95%, 84%, 1);
$purple: hsla(293, 18%, 49%, 1);


// Grayscale Variables
$cloud: #fafafa;
$mist: hsla(0, 0%, 84%, 1);
$fog: hsla(0, 0%, 68%, 1);
$thunder: hsla(0, 0%, 52%, 1);
$storm: hsla(0, 0%, 36%, 1);
$tornado: hsla(0, 0%, 20%, 1); // #333


// Action Variables
$action-green: hsla(112, 74%, 42%, 1);
$action-red: hsla(0, 100%, 44%, 1);


// Primary Colors
.z-blue {background: $blue;}
.z-green {background: $green;}
.z-orange {background: $orange;}
.z-red {background: $red;}
.z-yellow {background: $yellow;}


// Extended Colors
.z-alt-blue {background: $light-blue;}
.z-teal {background: $teal;}
.z-purple {background: $purple;}
.z-alt-yellow {background: $light-yellow;}


// Grayscale Colors
.z-tornado {background: $tornado;}
.z-fog {background: $fog;}
.z-storm {background: $storm;}
.z-thunder {background: $thunder;}
.z-mist {background: $mist;}
.z-cloud {background: $cloud;}


// Action Colors
.z-action-green {background: $action-green;}
.z-action-red {background: $action-red;}
