// Config - Font Size
$font-size-one:   8px;
$font-size-two:   10px;
$font-size-three: 12px;
$font-size-four:  14px;
$font-size-five:  16px;
$font-size-six:   18px;
$font-size-seven: 20px;
$font-size-eight: 24px;
$font-size-nine:  28px;
$font-size-ten:   32px;
