// Config - Spacing
$border-width-thin:  1px;
$border-width-thick: 2px;
$spacing-none:       0;
$spacing-xx-small:   4px;
$spacing-x-small:    8px;
$spacing-small:      12px;
$spacing-medium:     16px;
$spacing-large:      20px;
$spacing-x-large:    24px;
$spacing-xx-large:   30px;
