// Typography Sample

// * Note - 14px is the default font size

// Font Size Variables
$text-xxxs: 0.8rem;
$text-xxs: 1rem;
$text-xs: 1.2rem;
$text-default: 1.4rem;
$text-s: 1.6rem;
$text-m: 1.8rem;
$text-l: 2rem;
$text-xl: 2.4rem;
$text-xxl: 2.8rem;
$text-xxxl: 3.2rem;


// Font Scale
.text-xxxs     {font-size: $text-xxxs;}
.text-xxs      {font-size: $text-xxs;}
.text-xs       {font-size: $text-xs;}
.text-default  {font-size: $text-default;}
.text-s        {font-size: $text-s;}
.text-m        {font-size: $text-m;}
.text-l        {font-size: $text-l;}
.text-xl       {font-size: $text-xl;}
.text-xxl      {font-size: $text-xxl;}
.text-xxxl     {font-size: $text-xxxl;}

// Colors

// Primary Colors
.z-text-blue    {color: $blue;}
.z-text-green   {color: $green;}
.z-text-orange  {color: $orange;}
.z-text-red     {color: $red;}
.z-text-yellow  {color: $yellow;}


// Extended Colors
.z-text-alt-blue    {color: $light-blue;}
.z-text-teal        {color: $teal;}
.z-text-purple      {color: $purple;}
.z-text-alt-yellow  {color: $light-yellow;}


// Grayscale Colors
.z-text-tornado  {color: $tornado;}
.z-text-fog      {color: $fog;}
.z-text-storm    {color: $storm;}
.z-text-thunder  {color: $thunder;}
.z-text-mist     {color: $mist;}
.z-text-cloud    {color: $cloud;}


// Action Colors
.z-text-action-green  {color: $action-green;}
.z-text-action-red    {color: $action-red;}
