/*****************************************************************************
    Zoosk Interactions

    Todo: make sound better
    Common modifier classes for state changes
*****************************************************************************/

/*****************************************************************************
    Toggles the visibility of an element.
*****************************************************************************/
@mixin zi-hide-show {
    &.zi-show {
        opacity: 1;
        visibility: visible;
    }

    &.zi-hide {
        opacity: 0;
        visibility: hidden;
    }
}
