// Eros - Nav
.eros-nav__item {
    border-bottom: 1px solid $color-grey;
    position: relative;
}

.eros-nav__title {
    border-bottom: $border-width-thin solid $color-grey;
    cursor: pointer;
    font-weight: bold;
    position: relative;
}

.eros-nav__title-link {
    background: $color-white;
}

.eros-nav__dropdown-indicator {
    @include vertically-center;
    height: 15px;
    right: 15px;
    width: 10px;

    &:before,
    &:after {
        border-top: $border-width-thin solid $color-dark-grey;
        border-right: $border-width-thin solid $color-dark-grey;
        content: '';
        height: 5px;
        position: absolute;
        width: 5px;
    }

    &:before {
        @include transform(rotate(-45deg));
        top: 0;
    }

    &:after {
        @include transform(rotate(135deg));
        bottom: 0;
    }
}

.eros-nav__link {
    display: block;
    padding: 15px;

    &:hover {
        background: $color-white;
    }
}

.eros-nav__link-active:before {
    @include vertically-center;
    background: $color-light-blue;
    border-radius: $border-radius-circle;
    content: '';
    height: 10px;
    right: 15px;
    width: 10px;
}

.eros-nav__dropdown {
    background: $color-white;
    border: 1px solid #D4ECF8;
    border-radius: $border-radius-small;
    box-shadow: 0 0 5px 1px rgba(102,102,102,0.15);
    left: 0;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 1;
}

.eros-nav__dropdown-item-link {
    display: block;
    font-size: 12px;
    font-weight: normal;
    padding: 10px 15px;

    &:hover {
        background: $color-light-grey;
    }
}

.js-menu-toggle {
    display: none;

    &.is-open {
        display: block;
    }
}
