// Eros - Frame
.eros-frame {
    @include auto-margin;
    max-width: 1000px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
}

.eros-frame__flexbox {
    display: flex;
}

.eros-frame__flexbox--center {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.eros-frame__flexbox--wrap {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.eros-guide-section {
    padding: $spacing-large;

    p,
    ol {
        font-size: $font-size-five;
        line-height: 1.5;
    }
}
