// Base - Form - Select
.z-select {
    cursor: pointer;
    display: block;
    position: relative;
    width: 100%;
}

.z-select-item {
    background: $color-white; /* IE fallback */
    @include background-image(linear-gradient($color-white, $color-z-grey));
    @include border-radius($border-radius-medium);
    @include transition(all $duration-promptly ease-in-out);
    border: 1px solid $color-grey;
    padding: $spacing-x-small;
}

.z-option {
    @include transition(all $duration-promptly ease-in-out);
    background: $color-grey;
}
