// Base - Form - Inputs
// Input Fields & Textareas
@mixin z-input {
    @include border-radius($border-radius-small);
    @include box-shadow($box-shadow-input);
    border: 1px solid $color-grey;
    box-sizing: border-box;
    color: $color-dark-grey;
    display: block;
    font-size: $font-size-four;
    padding: $spacing-x-small;
    width: 100%;

    // Pseudo States
    &:focus {
        @include box-shadow($box-shadow-input-focus);
        border-color: $color-light-blue;
    }

    &:focus,
    &:required {
        outline: none;
    }

    // Modifiers
    &.accent-error {
        @include box-shadow($box-shadow-input-error);
        border-color: $color-z-red;
    }
}

.z-input {
    @include z-input;
}

.z-textarea {
    @include z-input;
    min-height: 100px;
    resize: vertical;
}

// Placeholder Text
::-webkit-input-placeholder  {color: $color-light-grey;}
::-moz-placeholder           {color: $color-light-grey;}
:-ms-input-placeholder       {color: $color-light-grey;}

// Webkit Autofill
:-webkit-autofill {background: $color-light-blue;}
