// Form Layout
.z-form {
    > * + * {
        margin-top: 15px;
    }
}

.z-input-wrap {
    position: relative;
}

.z-form-icon {
    @include vertically-center;
    @include viewbox(16px);
    right: $spacing-small;
}

.z-form-icon--error {
    fill: $color-z-red;
}

.z-form-error {
    color: $color-z-red;
    display: block;
    margin-top: $spacing-x-small;
}

.z-form-help {
    color: $color-light-blue;
    cursor: pointer;
    display: block;
    margin-top: $spacing-x-small;
}
