// Eros - Modules - Example
.eros-example {
    border-bottom: 1px dashed #cdcdcd;
    padding: $spacing-large;
}

.eros-example__header {
    margin-bottom: 22px;
}

.eros-example__title {
    font-size: $font-size-eight;
}

.eros-example-vitals {
    font-size: 16px;
    margin-bottom: 40px;
    margin-top: 20px;

    > * + * {
        margin-top: 10px;
    }
}

.eros-example-vitals--param {
    background: $color-teal;
    border-radius: $border-radius-pill;
    color: $color-black;
    font-size: $font-size-three;
    font-weight: bold;
    padding: $spacing-xx-small $spacing-small;
}

.sub-header {
    margin-bottom: $spacing-small;
}

.sub-header__title {
    color: #FF5A59;
    font-size: $font-size-four;
}

.code-container {
    > * + * {
        margin-top: 20px;
    }
}

.section-header {
    background: #FF5A59;
    border-radius: 20px;
    color: $color-white;
    display: inline-block;
    line-height: 1;
    margin-bottom: $spacing-large;
    padding: 5px 15px;
    text-transform: uppercase;
}

.section-header__title {
    font-size: $font-size-three;
    font-weight: bold;
}
