// Icon Block
.icon-block-list {
    max-width: 1000px;
}

.icon-block-item {
    border: 1px solid $color-grey;
    border-radius: $border-radius-small;
    margin: $spacing-small;
    max-width: 200px;
    width: 20%;
}

.icon-block__icon {
    border-bottom: 1px solid $color-grey;
    display: block;
    height: 80px;
    position: relative;

    &:before {
        color: $color-dark-grey;
        font-size: 50px;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%,-50%);
    }
}

.icon-block__id {
    display: block;
    padding: $spacing-medium;
    text-align: center;
}
