// Logo Block
.logo-block {
    > * {
        border-radius: $border-radius-small;
        padding: $spacing-xx-large;
        text-align: center;
    }

    > * + * {
        margin-top: $spacing-x-large;
    }
}

.logo-one {
    background: $color-light-blue;
}

.logo-two {
    background: $color-z-grey;
}
