// SVG Workflow Guide

.illustrator-section {
    @include auto-margin;
    max-width: 1000px;
    padding-top: 100px;
}

.setup-instruction-list {
    font-size: 1.8rem;
    font-weight: 300;
    justify-content: center;
    margin-bottom: 3rem;

    > li + li {
        margin-left: 20px;
    }
}

.workflow-step {
    font-size: 2.5rem;

    > * {
        display: inline-block;
        vertical-align: middle;
    }
}

.frag-id {
    color: $mist;
}

.guide-title {
    color: $lt-blue;
    font-family: 'Open Sans', sans-serif;
}
