/*****************************************************************************
    Button Group - Equal width buttons.

    Add button styles directly to LI's using the desired button class.
    ex: <li class="button-v2"></li>
*****************************************************************************/
.z-button-group {
    // @include z-table-layout;

    > li {
        button {
            border-left: 0;
            border-radius: 0;
            display: block;
            width: 100%;
        }

        &:first-child button {
            @include border-radius(4px 0 0 4px);
            // border-left: 1px solid $primary-border-color;
        }

        &:last-child button {
            @include border-radius(0 4px 4px 0);
        }
    }

    // Web adds the button styles directly to the list items
    // @if $platform == "web" {
    //     > li {
    //         border-radius: 0;
    //
    //         &:first-child {
    //             @include border-radius(4px 0 0 4px);
    //             border-right: 0;
    //         }
    //
    //         &:last-child {
    //             @include border-radius(0 4px 4px 0);
    //             border-left: 0;
    //         }
    //     }
    // }
}
